{{!
        LOGIN
}}

<h1>Log In de Usuario</h1>

<form action="/api/sessions/login" method="post">
  <label for="userName">Usuario: </label>
  <input type="text" name="userName" />
  <br /><br />
  <label for="password">Contraseña: </label>
  <input type="text" name="password" />
  <br /><br />

  <button type="submit">Ingresar</button>
</form>
<a href="/register">No tengo un usuario creado.</a>