<h1>Bienvenido a mi entrega final</h1>
<h3>Peter T. Wallace</h3>

<a href="./api/products" target="_blank" rel="noopener noreferrer">Api Products</a>
<br />
<a href="./api/carts" target="_blank" rel="noopener noreferrer">Api Carts</a>
<br />
<a href="./products" target="_blank" rel="noopener noreferrer">Products</a>
<br />
<a href="./realtimeproducts" target="_blank" rel="noopener noreferrer">Real time
  Products</a>