<link rel="stylesheet" href="/css/realtimeproducts.styles.css" />

<h1>real time products</h1>

<a href="./products">productos</a>

<div class="container" id="containerProducts"></div>

<h2></h2>

{{! CDN de socket io }}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
></script>
<script type="module" src="js/main.js"></script>